name: Build and Push Docker Image

on:
  push:
    # branches: ["main"]
  workflow_dispatch:

env:
  REGISTRY: ghcr.io
  # 使用 github.repository_owner 获取用户名，并指定镜像名为 lxserver
  IMAGE_NAME: ${{ github.repository_owner }}/lxserver

jobs:
  build_and_push:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      # Add QEMU for multi-platform build
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to the Container registry
        uses: docker/login-action@v3
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      # Extract project version from config.js
      - name: Read version from config
        id: get_version
        run: |
          VERSION=$(grep "version:" public/config.js | sed "s/.*'\(.*\)'.*/\1/")
          echo "PROJECT_VERSION=$VERSION" >> $GITHUB_ENV

      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY }}/${{ env.IMAGE_NAME }}
          tags: |
            type=raw,value=latest
            type=raw,value=${{ env.PROJECT_VERSION }}
          labels: |
            org.opencontainers.image.source=${{ github.server_url }}/${{ github.repository }}
            org.opencontainers.image.description=LX Music Sync Server (Enhanced Edition)
            org.opencontainers.image.licenses=Apache-2.0

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          # Enable multi-platform build
          platforms: linux/amd64,linux/arm64
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha
          cache-to: type=gha,mode=max